body {
  font-family: "Montserrat";
  font-weight: 200;
}

h1 {
  color: white;
}

h2, h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3em;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68; ;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar {
  padding: 0 0 4.5em;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.icons {
  font-size: 3rem;
  color: #ef8172;
}

.icons:hover {
  color: #ff4c68;
}

.bold {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5em;
}

.feat {
  color: #8f8f8f;
  font-weight: bolder;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.ft {
  text-align: center;
  padding: 4%;
}

#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.card-deck {
  padding: 6% 15%;
}

#cta {
  padding: 5% 8%;
  background-color: #ff4c68;
  color:white;
  text-align: center;
  font-size: 2.5em;
}

#footer {
  padding: 7% 15%;
  text-align: center;
  color: grey;
  background-color: white;
}

@media (max-width: 1060px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
